.dragicon {
	-fx-background-repeat: stretch;
	-fx-background-size: 64 64;
	-fx-background-position: center center;
}

.bathroom {
	-fx-background-image: url("bathroom.png");
}

.doctor {
	-fx-background-image: url("doctor-og.png");
}

.elevator {
	-fx-background-image: url("elevator.png");
}

.food {
	-fx-background-image: url("food.png");
}

.help {
	-fx-background-image: url("help.png");
}

.info {
	-fx-background-image: url("info.png");
}