
.bathroom {
	-fx-background-repeat: stretch;
	-fx-background-size: 25 25;
	-fx-background-position: center center;
	-fx-background-image: url("bathroom.png");
}

.doctor {
	-fx-background-repeat: stretch;
	-fx-background-size: 25 25;
	-fx-background-position: center center;
	-fx-background-image: url("doctor.png");
}

.elevator {
	-fx-background-repeat: stretch;
	-fx-background-size: 25 25;
	-fx-background-position: center center;
	-fx-background-image: url("elevator.png");
}

.food {
	-fx-background-repeat: stretch;
	-fx-background-size: 25 25;
	-fx-background-position: center center;
	-fx-background-image: url("food.png");
}

.store{
	-fx-background-repeat: stretch;
	-fx-background-size: 25 25;
	-fx-background-position: center center;
	-fx-background-image: url("store.png");
}

.info {
	-fx-background-repeat: stretch;
	-fx-background-size: 25 25;
	-fx-background-position: center center;
	-fx-background-image: url("info.png");
}

.connector {
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
	-fx-background-image: url("blank2.png");
	-fx-background-size: 10 10;
}

.kiosk
{
	-fx-background-repeat: stretch;
	-fx-background-size: 25 25;
	-fx-background-position: center center;
	-fx-background-image: url("kiosk.png");
}