
.root {
    -fx-font-family: "Corbel";
    -fx-font-size: 14px;

    -fx-background-color: #f6faff;
}

.text {
    -fx-effect: dropshadow(one-pass-box, #f2f4f6, 6, 0.0, 1, 1);

}

.button {
    -fx-effect: dropshadow(one-pass-box, #808089, 10, 0.0, 2, 2);

    /*-fx-background-color: #dbe2e7;*/
    -fx-background-radius: 0px;
    /*-fx-background-color: #d6d6d6;*/
    -fx-font-weight: bold;


    /*radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);*/
    /*-fx-background-radius: 20;*/
    /*-fx-background-insets: 0,1,1;*/
    /*-fx-text-fill: #73737b;*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -fx-text-fill: black;
    /*-fx-border-color: #a8adb2;*/
    -fx-background-color: #d6d6d6;
}
.button:hover {
    /*-fx-text-fill: black;*/
    -fx-border-color: #a8adb2;
    /*-fx-background-color: #d6d6d6;*/
    -fx-background-color: #d6d6d6;
    -fx-text-fill: #73737b;
    -fx-effect: dropshadow(one-pass-box, #73737b, 10, 0.0, 2, 2);

}

.text-field {
    -fx-effect: dropshadow( one-pass-box , #c0c6cc , 10 , 0.0 , 1 , 2 );
    -fx-background-radius: 0px;
}

