#Ignore these

.idea/
.gradle
build/
.DS_Store
.*
out/
derby.log
combined1.png
combined.png
combined2.png
combined3.png
combined4.png
src/Model/Database/CustomFilePath.*

#Don't ignore these
!.gitignore
!.travis.yml
!directions.png
!faulknerLogo.jpg